.generation {
  width: 96%;
  text-align: center;
  margin: auto;
}

.head {
  font-weight: 600;
}

.sreen {
  display: grid;
  grid-template-areas:"info scr scr src";
}

.info {
  grid-area: info;
}

.scr {
  grid-area: scr;
}