.corgi {
  display: inline-flex;
}

.white {
  background: #fff;
}

.head, 
.tail,
.body {
  margin: 1% 0;
  display: inline;
}

.body {
  position: relative;
  bottom: -79px;
  left: -1px;
}

.tail {
  position: relative;
  bottom: -11px;
  left: -2px;
}