@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.backup {
  height: 40vh;
  width: 96vw;
  background: rgba(251, 176, 64, 0.5);
  border-radius: 10px;
  display: grid;
  grid-template-rows: 2fr 3fr;
  grid-row-gap: 2vw;
  margin: auto;
  padding: 2%;
  justify-items: center;
  align-items: center;
}

.textPoster {
  margin-top: 3vh;
}

.text1 {
  margin: 5% 5% 5%;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: #24272a;
  letter-spacing: 0;
  line-height: 2.1rem;
}

.text2 {
  margin-left: 5%;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: #24272a;
  letter-spacing: 0;
  line-height: 1.1rem;
}

.imagePoster {
  margin-top: -50px;
}

@media (min-width: 410px) {
  .backup {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
