.backup {
  height: 90%;
  width: 100%;
  background: rgba(251, 176, 64, 0.5);
  border-radius: 10px;
  display: grid;
  grid-template-areas: "text text image image image";
  grid-row-gap: 2vw;
  margin: 2% auto;
  padding: 2%;
  justify-items: center;
  align-items: center;
}

.textPoster {
  grid-area: text;
  margin-top: 1vh;
  margin-left: 3%;
}

.text1 {
  /* margin: 5% 5% 5%; */
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: #24272a;
  letter-spacing: 0;
  line-height: 2.1rem;
}

.text2 {
  /* margin-left: 5%; */
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: #24272a;
  letter-spacing: 0;
  line-height: 1.1rem;
}

.imagePoster {
  margin-top: -10%;
  grid-area: image;
}

@media all and (max-width: 410px) {
  .backup {
    display: grid;
    grid-template-areas: "text"
                        "image";
  }

  .imagePoster {
    margin-top: 2%;
    grid-area: image;
  }
}
