.Modal {
    position: fixed;
    z-index: 500;
    background-color: #f8f8f8;
    width: 40%;
    height: 60%;
    border: 1px solid #ccc;
    border-radius: 5px 10px;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    top: 20%;
    left: 30%;
    transition: all 0.3s ease-out;
}

@media (max-width: 370px) {
    .Modal {
        width: 300px;
    }
}