.creations {
    margin: 2% auto;
}

.pop {
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.title {
    font-weight: bolder;
    font-size: 1.5rem;
    display: inline;
}

.sample {
    display: inline;
}