.creations {
    margin: 2% auto;
}

.pop {
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.title {
    font-weight: 600;
    font-size: 1.5em;
    display: inline;
}

.sample {
    display: inline;
}

.borad {
    display: flex;
    flex-flow: row wrap;
}