.wrap {
  margin: auto;
  padding: 5px 30px;
  display: inline-flex;
  flex-direction: row;
  font-size: 1em;
}

.menutop {
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: 2px solid #fbb040;
  background-color: #fff;
  padding: 5px 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fdfcfc;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menutop:hover .menutop {
    border: none;
    border-radius: 5px 5px 0 0;
}

li.active {
  background: #dddddd;
}