.footer {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f8f8f8;
    width: 96vw;
    font-size: 0.7rem;
    line-height: 0.8rem;
}

.blue {
    color: lightblue;
}

.black {
    color: black;
}
