.footer {
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    font-weight: lighter;
    color: #4A4F54;
    display: flex;
    flex-flow: row wrap;
    background-color: #f8f8f8;
    width: 100%;
    margin-top: 3%;
    padding: 3%;
    vertical-align: middle;
}

.footer p {
    margin:0;
}

.text {
    padding: 10px;
}

.left {
    text-align: start;
    margin-left: 15px;
    display: inline-flex;
    justify-content: start;
}

.right {
    position: absolute;
    display: block;
    text-align: end;
    margin-right: 0;
    right: 3%;
    padding-top: 10px;
}

.blue {
    color: lightblue;
}

.black {
    color: black;
}