.footer {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-flow: row wrap;
    background-color: #f8f8f8;
    width: 96vw;
    font-size: 0.7rem;
    margin: auto;
    margin-top: 5vh;
    padding: 3vh auto;
}

.footer p {
    margin:0;
}

.left {
    text-align: start;
    margin-left: 0;
    display: inline-flex;
    justify-content: start;
}

.right {
    position: absolute;
    display: block;
    text-align: end;
    margin-right: 0;
    right: 3vw;
}

.blue {
    color: lightblue;
}

.black {
    color: black;
}
