.card {
  background: #f8f8f8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: 2%;
  width: 70%;
  text-align: start;
  padding: 2%;
}

.cardChar {
  color: #0072ce;
  letter-spacing: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
  justify-content: space-between;
}

