.inputboard {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 1%;
  text-align: left;
}

.title {
  font-weight: medium;
  font-size: 1em;
  margin: 10px 0;
}

.inputname {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.quote {
    font-size: 0.7em;
    font-weight: thin;
    display: inline-block;
    margin-top: 2%;
}