li {
  list-style: none;
}

.white {
  background: #fff;
}

.note {
  text-align: center;
  margin: 40px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #333333;
  letter-spacing: 0.15rem;
}

.Button {
  background: #fbb040;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: auto;
}

.corgi {
  display: flex;
  height: 40%;
  width: 40%;
}

.head, 
.tail,
.body {
  margin: 1% 0;
  height: 100%;
  width: 100%;
}

.body {
  position: relative;
  bottom: -79px;
}

.tail {
  position: relative;
  bottom: -11px;
}